<div class="card">
  <%# prototype.image.attached?はなくてもいいが保険として必要 %>
  <%= link_to image_tag(prototype.image, class: :card__img), prototype_path(prototype) if prototype.image.attached? %>
  <div class="card__body">
    <%= link_to prototype.title, prototype_path(prototype), class: :card__title%>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%# ここでは「投稿の作成者」が必要なのでcurrent_userではない %>
    <%= link_to "by #{prototype.user.name}", prototype_path(prototype), class: :card__user %>
  </div>
</div>